# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#node_modules
node_modules/

# Virtual environments
env/
venv/
ENV/

# Data
data/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
